@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 16px;
  background-color: rgb(241, 227, 208);
}

ul {
  list-style: none;
}

button {
  border: 0;
  color: rgb(235, 189, 105);
  background: transparent;
  cursor: pointer;
}
